#imges{
    height: 40px;
    
}
#image{
    padding-left: 30px;
}
.container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#link{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
li{
    list-style: none;
    padding: 10px;
    
}
#login-btn{
    background-color:#006CF0;
    width: 8em;
    color: white;
    border-radius:50px;
    border:white;
    font-size: large;
    font-weight: bolder;
    height: 4vh;

}